* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  max-width: 1500px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}

ul {
  list-style: none !important;
  padding-left: 0px;
}

.bold {
  font-weight: bold;
}

#header .topnav {
  background: #e9eae2;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .topnav .logo_top {
  max-width: 100%;
  padding-left: 20px;
}

#header .topnav .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #fff;
  background-color: #cd006d;
  margin-top: 0px;
  padding: 15px 20px 30px 20px;
  border-bottom: 5px solid #b8bab3;
  border-radius: 7px 7px 20px 20px;
}

#header .topnav .contacts .contentList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
}

#header .topnav .contacts .contentList img {
  padding-right: 5px;
}

#header nav ul {
  background-color: #000;
  color: white;
  padding: 0;
  margin: 0;
  text-align: center;
  overflow: hidden;
  -webkit-transition: max-height 0.4s;
  transition: max-height 0.4s;
  border: 1px solid #8c8c88;
  font-weight: bold;
}

#header nav ul a {
  text-decoration: none;
  color: inherit;
}

#header nav ul a:hover {
  color: #d2d2d2;
}

#header nav ul li {
  font-size: 15pt;
  display: inline-block;
  padding: 10px 20px 10px 20px;
  text-transform: uppercase;
  border-right: 1px solid #fff;
}

.handle {
  width: 100%;
  background-color: #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 20px;
  cursor: pointer;
  color: white;
  display: none;
}

.handle .menu {
  display: inline-block;
}

.handle .menu .menu_icon {
  margin: .5em 0;
}

.handle .menu .menu_icon div {
  background-color: white;
  border-radius: 2px;
  width: 35px;
  height: 5px;
  margin: 5px;
}

#main {
  /* clearfix */
  /* ---- grid-item ---- */
}

#main .grid {
  max-width: 1500px !important;
  background: #EEE;
  margin: 0 auto;
}

#main .grid:after {
  content: '';
  display: block;
  clear: both;
}

#main .grid-item {
  max-width: 100%;
  height: 120px;
  float: left;
  background: #ddd;
  border: 1px solid #000;
}

#main .item1 {
  width: 65%;
  background-image: url("../img/home_free_02.jpg") !important;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #e9eae2;
}

#main .item1 .content {
  position: absolute;
  content: " ";
  top: 24%;
  left: 20%;
  -webkit-transform: translate(-20%, -20%);
          transform: translate(-20%, -20%);
  z-index: 999;
}

#main .item1 .content img {
  max-width: 80%;
}

#main .item1 .content p {
  font-size: 18pt;
  text-transform: uppercase;
  color: #393d3c;
  margin: 0px 0px 0px 10px !important;
  margin-left: 0px !important;
}

#main .item1 .content ul {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#main .item1 .content ul li {
  padding-right: 15px;
}

#main .item1 .content ul li a {
  font-size: 18pt;
  text-decoration: none;
  color: #7acec3;
}

#main .item2 {
  position: relative;
  width: 35%;
  background-color: #7acec3;
}

#main .item2 .line {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(137deg);
          transform: translateX(-50%) translateY(-50%) rotate(137deg);
  width: 137%;
  height: 1px;
  background-color: #fff;
}

#main .item2 .contentItem2 {
  position: absolute;
}

#main .item2 .logoTreca {
  padding: 15px 10px 15px 10px;
  max-width: 260px;
  border: 3px solid #fff;
  font-family: serif;
}

#main .item2 .logoTreca .treca {
  text-transform: uppercase;
  font-size: 60px;
}

#main .item2 .logoTreca .vertical {
  text-transform: uppercase;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  font-size: 15px;
}

#main .item2 .text {
  margin-top: 15px;
  margin-bottom: 0;
  color: #333333;
  text-transform: uppercase;
  font-size: 23pt;
  z-index: 999;
}

#main .item2 .cont {
  max-width: 170px;
}

#main .item2 .cont p {
  color: #fff;
  font-size: 15px;
}

#main .item2 .cont2 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main .item2 .cont2 p {
  margin: 0;
  text-transform: uppercase;
  font-size: 15px;
  color: #fff;
}

#main .item2 .cont2 .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #7ab90d;
  border-radius: 50%;
  margin-right: 10px;
}

#main .item2 .cont3 {
  font-weight: 900;
  font-size: 30px;
}

#main .item2 .cont3 p:first-of-type {
  margin-top: 10px;
  margin-bottom: 0;
  text-decoration: line-through;
  color: #545454;
}

#main .item2 .cont3 p:last-of-type {
  text-decoration: none;
  color: #cd006d;
  margin: 0px;
}

#main .item2 .cont3 img {
  padding-right: 10px;
}

#main .item2 .cont3 a {
  text-decoration: none;
  color: #fff;
  background-color: #e2007a;
  font-size: 18px;
  padding: 10px;
}

#main .item2 .cont3 a:hover {
  border-bottom: 2px solid #45093f;
}

#main .item3 {
  width: 30%;
}

#main .item4 {
  width: 40%;
}

#main .item5 {
  width: 30%;
  height: 250px !important;
}

#main .item6 {
  width: 30%;
  height: 464px;
}

#main .grid-item--height1 {
  height: 493px;
}

#main .grid-item--height2 {
  height: 260px;
}

@media screen and (max-width: 992px) {
  .topnav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  nav ul {
    max-height: 0px;
    border: 0px solid #8c8c88 !important;
  }
  nav ul li {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    padding: 15px;
    border: 0px solid #fff !important;
  }
  .show {
    max-height: 25em;
  }
  .handle {
    display: block;
  }
  header h1 {
    font-size: 3em;
  }
}
/*# sourceMappingURL=style.css.map */