*{
    box-sizing: border-box;
}
body{
    max-width: 1500px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}
.pinterest-brand{
    position: absolute;
    top: 5%;
    right: 5%;
    transform: translate(-5%, -5%);
    i{
        color: #d73634; 
        font-size: 25px;
    }
}
ul{
    list-style: none !important;
    padding-left: 0px;
}
.bold{
    font-weight: bold;
}
.dot{
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #7ab90d;
    border-radius: 50%; 
    margin-right: 10px;
  }
  .arrowColor{
      color: #ebb240;
  }
  .arrowColor2{
      color: #e2007a;
  }
  img{
      max-width: 100%;
  }
  .textUppercase{
      text-transform: uppercase;
  }
  .myBtn{
    text-decoration: none;
    color: #fff;
    background-color: #e2007a;
    font-size: 18px;
    padding: 5px;
    img{
        padding-right: 5px;
    }
}
.myBtn:hover{
    border-bottom: 2px solid #45093f;
}
.pr-1{
    padding-right: 5px;
}
.pl-5{
    padding-left: 20px;
}
.d-none{
    display: none;
}
#header{
    background: #e9eae2;
    .topnav{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .logo_top{
            max-width: 100%;
            padding-left: 20px;
        }
        .contacts{
            display: flex;
            flex-direction: row;
            color: #fff;
            background-color: #cd006d;
            margin-top: 0px;
            padding: 15px 20px 30px 20px;
            border-bottom: 5px solid #b8bab3;
            border-radius: 7px 7px 20px 20px;
            .contentList{
                display: flex;
                align-items: center;
                padding-left: 20px;
                img{
                    padding-right: 5px;
                }
            }
        }
    }
    form{
        text-align: center;
        font-size: 0;
        padding-bottom: 20px;
        input[type=text]{
            width: 300px !important;
            padding: 10px 15px 10px 15px;
            border: 1px solid #e2e3db;
            color: #a3a3a3;
            border-radius: 5px;
            outline-style: none;
         }
         input[type=submit]{
             padding: 10px 10px 10px 10px;
             background-color: #efba22;
             color: #fff;
             border-radius: 5px;
             outline-style: none;
         }
    }
 
    nav{
        ul{
            background-color: #000;
            color: white;
            padding: 0;
            margin: 0;
            text-align: center;
            overflow: hidden;
            transition: 
            max-height 0.4s;
            border: 1px solid #8c8c88;
            font-weight: bold;
            a{
                text-decoration: none;
                color: inherit; 
            }
            a:hover{
                color: #d2d2d2;
            }
            li{
                font-size: 15pt;
                display: inline-block;
                padding: 10px 20px 10px 20px;
                text-transform: uppercase;
                border-right: 1px solid #fff; 
            }
        }
    }
}

.handle {
    width: 100%;
    background-color: #000;
    box-sizing: border-box;
    padding-left: 20px;
    cursor: pointer;
    color: white;
    display: none;
    .menu{
        display: inline-block;
        .menu_icon {
            margin: .5em 0;
            div {
                background-color: white;
                border-radius: 2px;
                width: 35px;
                height: 5px;
                margin: 5px;
              }
        }
    }
}
#main{
    max-width: 1500px !important;
    .shadow_method{ 
        cursor: pointer; transition: .5s ease; 
        .middle{ 
            box-shadow:none; 
            .text{ 
            z-index: 99999;    
            position: absolute; 
            top: 50%; left: 50%; transform: translate(-50%, -50%); 
            -ms-transform: translate(-50%, -50%); text-align: center; 
            background-color: rgb(53, 53, 53); color: white; 
            font-size: 16px; padding: 16px 32px; display: none;
            border-radius: 5px;
         }
         } 
        } 
        .shadow_method:hover{ transition: .5s ease; box-shadow:inset 0 0 0 99999px rgba(121, 121, 121, 0.5); 
        .middle{ .text{ display: inline-block; transition: .5s ease; 
        } 
    } 
}

    .grid {
        width: 100%;
        background: #EEE;
        margin: 0 auto;
      }
      
      /* clearfix */
      .grid:after {
        content: '';
        display: block;
        clear: both;
      }
      
      /* ---- grid-item ---- */
      
      .grid-item {
        max-width: 100%;
        height: 120px;
        float: left;
        background: #ddd;
      }
      .item1{
         width: 69%;
         background-image: url("../img/home_free_02.jpg") !important;
         background-position: center center;
         background-repeat: no-repeat;
         background-size: contain;
         background-color: #e9eae2;
          .content{
            position: absolute;
            content: " ";
            top: 25%;
            left: 20%;
            transform: translate(-20%, -20%);
            z-index: 999;
            img{
                max-width: 80%; 
            }
            p{
                font-size: 18pt;
                text-transform: uppercase;
                color: #393d3c;
                margin: 0px 0px 0px 10px !important;
                margin-left: 0px !important;   
            }
            ul{
                margin-top: 50px;
                display: flex;
                flex-direction: row;
                li{
                    padding-right: 15px;
                    a{
                        font-size: 18pt;
                        text-decoration: none;
                        color: #7acec3;
                    }
                    a:hover{
                        color: #29a595;
                    }
                }
            }
        }
      }
      .item2{
          position: relative;
          width: 31%;
          background-color: #7acec3;
          background: linear-gradient(to bottom right, #7acec3, #7acec3 50%, white 50.5%, #7acec3 50%, #7acec3);  

          .contentItem2{
              position: absolute;
              top: 4%;
              left: 8%;
          }
          .logoTreca{
            padding: 5px 10px 5px 15px;
            max-width: 260px;
            border: 3px solid #fff;
            font-family: serif;
              .treca{
                text-transform: uppercase;
                font-size: 60px;
              }
              .vertical{
                  text-transform: uppercase;
                  writing-mode: vertical-rl;    
                  transform: rotate(180deg);   
                  font-size: 15px;

                 }
          }
          .text{
              margin-top: 15px;
              margin-bottom: 0;
              color: #333333;
              text-transform: uppercase;
              font-size: 23pt; 
              z-index: 999;
          }
          .cont{
              max-width: 170px;
              p{
                  color: #fff;
                  font-size: 15px;
              }
          }
          .cont2{
              div{
                display: flex;
                align-items: center;
              }
              p{
                margin: 0;
                text-transform: uppercase;
                font-size: 15px;
                color: #fff;
              }
           
          }
          .cont3{
              font-size: 30px;
                p:first-of-type{
                    margin-top: 10px;
                    margin-bottom: 0;
                    text-decoration: line-through;
                    color: #545454;
                    font-weight: bold;
                }
                p:last-of-type{
                    text-decoration: none;
                    color: #cd006d;
                    margin: 0px;
                    font-weight: bold;
                }
               
          }
      }
      .item3{
        position: relative;
        width: 31%;
        background-color: #ebb240;
        background: linear-gradient(to bottom right, #ebb240, #ebb240 50%, white 50.5%, #ebb240 50%, #ebb240);   
        .contentItem3{
            position: absolute;
            top: 15%;
            left: 15%;
            .listItem3{
               
                li{
                    color: #fff;
                    font-size: 20px;
                }
                li:before {
                    content: '\f054';
                    font-family: FontAwesome;
                    font-style: normal;
                    font-weight: 100;
                    position: absolute;
                    opacity: 0;
                    padding-top: 5px; 
                    left: -20px;
                    transition: 0.5s;
                  }
                  li:hover{
                      color: #000;
                  }
                  
                  li:hover:before {
                    opacity: 1;
                    right: 10px;
                    color: #000;
                  }
               
            }
           span{
                position: absolute;
                top: 130%;
                left: 130%;
                font-size: 30pt;
                text-transform: uppercase;
                color: #fff;
                font-weight: 400;
                text-align: right;
            }
        }
     }
      .item4{
        position: relative;
        width: 38%;
        background-color: #e9eae2;
        .contentItem4{
            display: flex;
            padding-top: 40px;
            padding-left: 70px;           
             .contInfo{
                padding-right: 30px;
            }
            .listItem4{
                padding-bottom: 70px;
                    li{
                        font-size: 18px;
                    }
            }
            .image{
                padding-top: 50px;
            }
        }
      }
      .item5{
          width: 31%;
          position: relative;
          height: 250px !important;
          background-color: #eef2f3;
          .contentItem5{
              display: flex;
              justify-content: space-between;
              padding-top: 15px;
              .contInfo{
                width: 60%;
                padding-left: 30px;
                p{
                    margin: 5px;
                }
              }
              
              .listItem5{
                  margin: 0px;
                  h2{
                      margin: 5px;
                  }
              }
              .image{
                  padding-top: 20px;
                  .product{
                    max-width: 100%;
                }
              }
          }
      }
      .item6{
          width: 31%;
          position: relative;
          background-color: #f6f7f2;
          
          .contentItem6{
              display: flex;
              flex-direction: column;
              align-items: center;
              .contInfo{
                  display: flex;
                  .listItem6{
                    padding-right: 20px;
                }
                .contRight{
                    padding-top: 50px;
                }
              }
          }
      }
      .item7{
        width: 20%;
        position: relative;
        background: rgb(89,111,126); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(89,111,126,1) 0%, rgba(108,120,130,1) 46%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(89,111,126,1) 0%,rgba(108,120,130,1) 46%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(89,111,126,1) 0%,rgba(108,120,130,1) 46%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#596f7e', endColorstr='#6c7882',GradientType=0 ); 
        .contentItem7{
            display: flex;
            flex-direction: column;
            padding-left: 20px;
            .listItem7, span{
                color: #fff;
            }
            .contInfo{
                z-index: 9999;
            }
            .image{
                position: absolute;
                display: inline-flex;
                bottom: 0;
                right: 25px;
            }
        }
    }
      .item8{
          position: relative;
          width: 49%;
          background-image: url("../img/fauteuil2.jpg");
          background-repeat: no-repeat;
          background-size: cover;
          .contentItem8{
            .listItem8{
                position: absolute;
                top: 19%;
                left: 50%;
                transform: translate(-19%, -50%);
            }
            .contRight{
                position: absolute;
                bottom: 15px;
                right: 15px;
                transform: translate(-15%, -15%);
            }
          }
      }
      .item9{
          width: 31%;
          height: 243px;
          background-color: #fff;
          position: relative;
        .contentItem9{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            .listItem9{
                margin: 5px 0px 5px 0px;
                h2{
                    margin: 5px 0px 5px 0px;
                }
            }
            .contInfo{
                p{
                    margin: 5px 0px 5px 0px;
                }
            }
        }
      }
      .item10{
        width: 49%;
        background-color: #fff;
        position: relative;
            .contentItem10{
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                padding-top: 20px;
                    .contInfo2{
                        display: flex;
                        flex-direction: row;
                        .listItem10{
                            padding-right: 30px;
                            margin: 0px;
                            h2{
                                margin: 5px 0px 5px 0px;
                            }
                        }
                        .contRight{
                            p{
                                margin: 10px 0px 10px 0px;
                            }
                            p:first-child{
                                margin-top: 10px;
                            }
                        }
                    }
                }
        }
        .item11{
            width: 20%;
            background-image: url("../img/img3.jpg");
            background-size: cover;
            background-position: center center;
            position: relative;
            .contentItem11{
                .listItem11{
                    position: absolute;
                    top: 5%;
                    right: 10%;
                    li{
                        span{
                            display: inline-block;
                        }
                    }
                }
                .bottom{
                    position: absolute;
                    bottom: 6%;
                    left: 35%;
                    p{
                        margin: 10px 0px 10px 0px;
                    }
                }
            }
        }

        .item12{
            width: 31%;
            background-color: #ebb240;
            position: relative;
            -webkit-gradient:(linear, left top, right bottom, from(#ebb240), color-stop(49%, #ebb240), color-stop(49%, white), color-stop(50%, #ebb240), to(#ebb240));
            background: linear-gradient(to bottom right, #ebb240, #ebb240 50%, white 50.5%, #ebb240 50%, #ebb240);   
            .contentItem12{
                position: absolute;
                top: 15%;
                left: 15%;
                .listItem12{
                   
                    li{
                        color: #fff;
                        font-size: 20px;
                    }
                    li:before {
                        content: '\f054';
                        font-family: FontAwesome;
                        font-style: normal;
                        font-weight: 100;
                        position: absolute;
                        opacity: 0;
                        padding-top: 5px; 
                        left: -20px;
                        transition: 0.5s;
                      }
                      li:hover{
                          color: #000;
                      }
                      
                      li:hover:before {
                        opacity: 1;
                        right: 10px;
                        color: #000;
                      }
                   
                }
            }
        }

        .item13{
            width: 31%;
            background-color: #ff9b6d; 
            background: linear-gradient(to bottom right, #ff9b6d, #ff9b6d 50%, white 50.5%, #ff9b6d 50%, #ff9b6d);  
            position: relative;
            .contentItem13{
                position: absolute;
                top: 15%;
                left: 15%;
                .listItem13{
                   
                    li{
                        color: #fff;
                        font-size: 20px;
                    }
                    li:before {
                        content: '\f054';
                        font-family: FontAwesome;
                        font-style: normal;
                        font-weight: 100;
                        position: absolute;
                        opacity: 0;
                        padding-top: 5px; 
                        left: -20px;
                        transition: 0.5s;
                      }
                      li:hover{
                          color: #000;
                      }
                      
                      li:hover:before {
                        opacity: 1;
                        right: 10px;
                        color: #000;
                      }
                   
                }
               span{
                    position: absolute;
                    top: 140%;
                    left: 80%;
                    font-size: 30pt;
                    text-transform: uppercase;
                    color: #fff;
                    font-weight: 400;
                    text-align: right;
                }
            }
        }

        .item14{
            width: 69%;
            background-color: #fff;
            position: relative;
            .contentItem14{
                display: flex;
                flex-direction: column;

                .cont14{
                    display: -webkit-box;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    margin: 0 auto;
                    .contInfo{
                        padding-right: 20px;
                    }
                }
            }
            .titleCont14{
                color: #e2007f;  
                margin: 40px 0px 120px 30px;
            }
        }
        .item15{
            width: 31%;
            background-color: #fff;
            position: relative;
            .contentItem15{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 70px;
                .contInfo2{
                    display: flex;
                    flex-direction: row;
                    .listItem15{
                        padding-right: 30px;
                        margin: 0px;
                        h2{
                            margin: 5px 0px 5px 0px;
                        }
                    }
                    .contRight{
                        p{
                            margin: 10px 0px 10px 0px;
                        }
                        p:first-child{
                            margin-top: 10px;
                        }
                    }
                }
            }
        }

        .item16{
            width: 31%;
            background-color: #edeee7;
            position: relative;
            .contentItem16{
                display: flex;
                flex-direction: column;
                align-items: center;
                .box1{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-around;
                    width: 100%;
                }
                .box2{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-around;
                    width: 100%;
                    .contInfo{
                        text-align: right;
                    }
                }
                .contInfo{
                    p{
                        margin: 5px 0px 5px 0px;
                    }
                }
                .listItem16{
                    margin: 0px;
                    h2{
                        margin: 5px 0px 5px 0px;
                    }
                }
            }
        }

        .item17{
            width: 38%;
            background-color: #f3f3f3;
            position: relative;
            .contentItem17{
                position: absolute;
                top: 10%;
                right: 0%;
                padding-left: 15px;
                display: flex;
                flex-direction: row;
                align-items: center;
            }
        }
        .item18{
            width: 49%;
            background-color: #fdfdfd; 
            position: relative;
            .contentItem18{
                display: flex;
                flex-direction: column;
                .listItem18, p, h2{
                    margin: 5px 0px 5px 0px;
                }
                .textStart{
                    margin-left: 85px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: start;                
                }
                .textCenter{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;                
                }
                .textEnd{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    justify-content: flex-end;     
                    margin-right: 35px;           
                }
            }
        }
        .item19{
            width: 25%;
            background-color: #f7f7f3;
            position: relative;
            .contentItem19{
                display: flex;
                flex-direction: column;
                padding-top: 20px;
                .contInfo{
                    z-index: 999;
                    padding-left: 35px;
                }
                .listItem19, p, h2{
                    margin: 5px 0px 5px 0px;
                }
            }
            .image{
                text-align: center;
                margin-top: -15px;
            }
        }

        .item20{
            width: 26%;
            background-color: #fafafa;
            position: relative;
            .contentItem20{
                display: flex;
                flex-direction: column;
                padding-top: 20px;
                .listItem20, p, h2{
                    margin: 5px 0px 5px 0px;
                }
                .contInfo{
                    z-index: 999;
                    padding-left: 35px;
                }
                .image{
                    text-align: center;
                    img{
                        max-width: 60% !important;
                    }
                }
            }
        }

        .item21{
            width: 20%;
            background-color: #cecece;
            position: relative;
            .contentItem21{
                display: flex;
                flex-direction: row-reverse;
                align-content: center;
                .listItem21{
                    padding-left: 30px;
                    font-size: 15px;
                }
                .contInfo{
                    position: absolute;
                    bottom: 5%;
                    right: 5%;
                    z-index: 55;
                    .listItem20, p, h2{
                        margin: 5px 0px 5px 0px;
                    }
                }
                .image{
                    position: absolute;
                    top: 5%;
                    left: 0%;
                    img{
                        max-width: 100%;
                    }
                }
            }
        }
        .item22{
            width: 49%;
            background-color: #fff;
            position: relative;
            .contentItem22{
                display: flex;
                flex-direction: column-reverse;
                align-items: center;
                .listItem22{
                    margin: -20px 45px 5px 0px;
                }
                 p, h2{
                    margin: 10px 0px 10px 0px;
                }
                .contInfo{
                    display: flex;
                    flex-direction: row;
                    .contRight{
                        margin-top: 15px;
                    }
                }
            }
        }
        .item23{
            width: 31%;
            background-color: #ff9b6d;
            position: relative;
            
        }

        .item23{
            width: 31%;
            background-color: #ff9b6d;
            position: relative;
            -webkit-gradient:(linear, left top, right bottom, from(#ff9b6d), color-stop(49%, #ff9b6d), color-stop(49%, white), color-stop(50%, #ff9b6d), to(#ff9b6d));
            background: linear-gradient(to bottom right, #ff9b6d, #ff9b6d 50%, white 50.5%, #ff9b6d 50%, #ff9b6d);   
            .contentItem23{
                position: absolute;
                top: 15%;
                left: 15%;
                .listItem23{
                   
                    li{
                        color: #fff;
                        font-size: 20px;
                    }
                    li:before {
                        content: '\f054';
                        font-family: FontAwesome;
                        font-style: normal;
                        font-weight: 100;
                        position: absolute;
                        opacity: 0;
                        padding-top: 5px; 
                        left: -20px;
                        transition: 0.5s;
                      }
                      li:hover{
                          color: #000;
                      }
                      
                      li:hover:before {
                        opacity: 1;
                        right: 10px;
                        color: #000;
                      }
                   
                }
            }
        }

        
      .item24{
        position: relative;
        width: 31%;
        background-color: #a7dd20;
        background: linear-gradient(to bottom right, #a7dd20, #a7dd20 50%, white 50.5%, #a7dd20 50%, #a7dd20);   
        .contentItem24{
            position: absolute;
            top: 5%;
            left: 10%;
            .listItem24{
               
                li{
                    color: #fff;
                    font-size: 20px;
                }
                li:before {
                    content: '\f054';
                    font-family: FontAwesome;
                    font-style: normal;
                    font-weight: 100;
                    position: absolute;
                    opacity: 0;
                    padding-top: 5px; 
                    left: -20px;
                    transition: 0.5s;
                  }
                  li:hover{
                      color: #000;
                  }
                  
                  li:hover:before {
                    opacity: 1;
                    right: 10px;
                    color: #000;
                  }
               
            }
           span{
                position: absolute;
                top: 110%;
                left: 90%;
                font-size: 30pt;
                text-transform: uppercase;
                color: #fff;
                font-weight: 400;
                text-align: right;
            }
        }
     }
     .item25{
        width: 69%;
        background-color: #fff;
        position: relative;
        .contentItem25{
            display: flex;
            flex-direction: column;

            .titleCont25{
                color: #e2007f;  
                margin: 40px 0px 120px 30px;
            }
            .cont25{
                display: -webkit-box;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                margin: 0 auto;
                .contInfo{
                    padding-right: 20px;
                }
            }
        }
    }
    .item26, .item27{
        width: 40%;
        background-color: #fff;
        position: relative;
        .contentItem26, .contentItem27{
            display: flex;
            flex-direction: row;
            align-items: center;
             .listItem26, p, h2{
                margin: 5px 0px 5px 0px;
            }
            .listItem27{
                margin: 5px 0px 5px 0px;
            }
            .box1, .box2{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                width: 100%;
                .image{
                    padding-top: 20px;
                    max-width: 66%;
                }
            }
            .box1{
                background-color: #e1e1e1;
            }
        }
    }
    .item28{
        width: 20%;
        background: linear-gradient(to bottom right, #a7dd20, #a7dd20 50%, white 50.5%, #a7dd20 50%, #a7dd20);   
        position: relative;
        .contentItem28{
            position: absolute;
            top: 15%;
            left: 15%;
            .listItem28{  
                li{
                    color: #fff;
                    font-size: 20px;
                }
                li:before {
                    content: '\f054';
                    font-family: FontAwesome;
                    font-style: normal;
                    font-weight: 100;
                    position: absolute;
                    opacity: 0;
                    padding-top: 5px; 
                    left: -20px;
                    transition: 0.5s;
                  }
                  li:hover{
                      color: #000;
                  }
                  
                  li:hover:before {
                    opacity: 1;
                    right: 10px;
                    color: #000;
                  }
               
            }
        }
    }
    .bottomInfo{
        width: 100%;
        background-color: #fff;
        position: relative;
        display: flex;
        align-items: center;
        .contentBottomInfo{
            display: flex;
            flex-direction: row;
            text-align: center;
            align-items: baseline;
            h2{
                margin: 5px 0px 5px 0px;
            }
            .website{
                text-decoration: none;
                color: #e2007a;  
            }
        }
    }
      .grid-item--height1 { height: 493px; }
      .grid-item--height2 { height: 465px; }
      .grid-item--height3 { height: 300px; }
 
}

#footer{
    max-width: 1500px !important;
    position: relative !important;
    background-image: url('../img/footer-bckg.jpg');
    background-size: cover;
    max-width: 100%;
    height: 435px;
    background-position: center;
    background-repeat: no-repeat;
    border-top: 10px solid #f4b800;
    border-bottom: 20px solid #636363;
  .containerFooter{
    padding: 10px 20px 0px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    .box{
        h3{
            margin: 5px 0px 5px 0px;
        }
        color: #fff;
        h3:before{
          content: '';
          width: 0;
          height: 10px;
          border: 1px solid #e2007a;
          margin-right: 5px;
        }
        .icons{
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-left: -10px;
            line-height: 0.2;
            ul{
                margin: 10px 0px 15px 0px;
                li:nth-child(2){
                    padding-top: 15px;
                    color: #c6376f;
                }
            }
        }
      }
      .box:last-of-type{
        display: flex;
        flex-direction: column;

      }
  }
}
   
    @media screen and (max-width: 1500px){
        #main{
            .grid {
               width: 100% !important;
                background: #EEE;
                margin: 0 auto;
              }
              .item1 {
                width: 100%;
                .content{
                    position: absolute;
                    content: " ";
                    top: 27%;
                    left: 10%;
                    -webkit-transform: translate(-20%, -20%);
                    transform: translate(-20%, -20%);
                    z-index: 999;
                }
              }
              .item2{
                  width: 50%;
                  .contentItem2{
                    position: absolute;
                    max-width: 280px;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                      .treca{
                          font-size: 45px;
                      }
                      .vertical{
                          font-size: 12px;
                      }
                      .text{
                          font-size: 26px;
                      }
                      .cont3{
                          font-size: 25px;
                      }
                      .logoTreca {
                        padding: 5px 10px 5px 20px;
                        max-width: 240px;
                      }
                  }
              }
              .item3{
                  width: 50%;
                  .contentItem3 {
                    position: absolute;
                    top: 28%;
                    left: 36%;
                    transform: translate(-30%, -40%);
                  }
              }
              .item4{
                position: relative;
                width: 50%;
                background-color: #e9eae2;
                .contentItem4{
                    display: flex;
                    padding-top: 40px;
                    padding-left: 40px;           
                     .contInfo{
                        padding-right: 0px;
                    }
                    .listItem4{
                        padding-bottom: 0px;
                            li{
                                font-size: 18px;
                            }
                    }
                    .image{
                        padding-top: 50px;
                    }
                }
              }
              
             .item5, .item6, .item7, .item8, .item9, .item10, .item11, .item12, .item13, 
             .item14, .item15, .item16, .item17, .item18, .item19, .item20, .item21, .item22, .item23, .item24, .item25, .item26, .item27, .item28{
                width: 49%;
            }
            .item14{
                .image{
                    max-width: 60%;
                    img{
                        max-width: 90%;
                    }
                }
            }
            .item25{
                .image{
                    max-width: 50%;
                    padding-right: 20px;
                }
            }     
    }
}

@media screen and (max-width: 1040px){
    #header{
        .topnav{
            .contacts{
                flex-direction: column-reverse !important;
                width: 100%;
                .contentList{
                    padding-bottom: 10px;
                }
            }
        }
    }
    #main{
        .item1{
            width: 100%;
        }
        .item2 {
            width: 100%;
            .contentItem2{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        .item3{
            width: 100%;
        }
        .item4{
            width: 100%;
        }
        .item5, .item6, .item7, .item8, .item9, .item10, .item11, .item12, .item13, .item14,
         .item15, .item16, .item17, .item18, .item19, .item20, .item21, .item22, .item23, .item24, .item25, .item26, .item27, .item28{
            width: 100%;
        }
        .item14{
            .image{
                max-width: 60%;
                img{
                    max-width: 90%;
                }
            }
        }
    }
    @media screen and (max-width: 992px){
   #header{
    .topnav{
        flex-direction: column-reverse;
    }
    nav ul{
        max-height: 0px;
        border: 0px solid #8c8c88 !important;
    }
    nav ul li{
        box-sizing: border-box;
        width: 100%;
        padding: 15px;
        border: 0px solid #fff !important;
    }
    .show{
        max-height: 25em; 
    }
    .handle{
        display: block;
    }
    header h1{
        font-size: 3em;
    }
   }
   #main{
       .item21{
          .listItem21{
              padding-left: 0px !important;
          }
       }
       .item25{
           .titleCont25{
                margin: 40px 0px 90px 30px;
           }
           .cont25{
               padding-left: 25px;
           }
       }
    .item26{
        .image{
            padding-top: 15px !important;
            max-width: 78% !important;
        }
        .box1{
            background-color: #fff !important;
        }
        .box2{
         background-color: #e1e1e1;
     }
    }
    .item27{
     .image{
         padding-top: 15px !important;
         max-width: 78% !important;
     }
     .box1{
      background-color: #e1e1e1;
  }
 }
 .bottomInfo{
    justify-content: center !important;
     .contentBottomInfo{
         flex-direction: column !important;
         padding: 0px 20px 0px 20px;
        .container{
            max-width: 500px;
            font-size: 12px !important;
            padding-bottom: 10px;
        }
     }
   }
   }
   #footer {
    .containerFooter {
        flex-wrap: wrap;
    }
    h3{
        margin: 5px 0px 5px 0px;
    }
    .box:last-of-type{
        line-height: 1 !important;
    }
   }

}
}