* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  max-width: 1500px;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding-left: 0px;
}

#header .topnav {
  background: #e9eae2;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .topnav .logo_top {
  max-width: 100%;
  padding-left: 20px;
}

#header .topnav .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #fff;
  background-color: #cd006d;
  margin-top: 0px;
  padding: 15px 20px 30px 20px;
  border-bottom: 5px solid #b8bab3;
  border-radius: 7px 7px 20px 20px;
}

#header .topnav .contacts .contentList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
}

#header .topnav .contacts .contentList img {
  padding-right: 5px;
}

#header nav ul {
  background-color: #000;
  color: white;
  padding: 0;
  margin: 0;
  text-align: center;
  overflow: hidden;
  -webkit-transition: max-height 0.4s;
  transition: max-height 0.4s;
  border: 1px solid #8c8c88;
}

#header nav ul a {
  text-decoration: none;
  color: inherit;
}

#header nav ul a:hover {
  color: #d2d2d2;
}

#header nav ul li {
  font-size: 15pt;
  display: inline-block;
  padding: 10px 20px 10px 20px;
  text-transform: uppercase;
  border-right: 1px solid #fff;
}

.handle {
  width: 100%;
  background-color: #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 20px;
  cursor: pointer;
  color: white;
  display: none;
}

.handle .menu {
  display: inline-block;
}

.handle .menu .menu_icon {
  margin: .5em 0;
}

.handle .menu .menu_icon div {
  background-color: white;
  border-radius: 2px;
  width: 35px;
  height: 5px;
  margin: 5px;
}

#main {
  /* clearfix */
  /* ---- grid-item ---- */
}

#main .grid {
  background: #EEE;
  max-width: 1500px;
}

#main .grid:after {
  content: '';
  display: block;
  clear: both;
}

#main .grid-item {
  width: 150px;
  height: 120px;
  float: left;
}

#main .grid-item--width1 {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 1000px;
  background-color: #fff;
  background-image: url("../img1.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

#main .grid-item--width1 .content {
  position: absolute;
  content: " ";
  top: 20%;
  left: 20%;
  -webkit-transform: translate(-20%, -20%);
          transform: translate(-20%, -20%);
}

#main .grid-item--width1 .content img {
  max-width: 80%;
}

#main .grid-item--width1 .content p {
  font-size: 18pt;
  text-transform: uppercase;
  color: #393d3c;
  margin: 0px 0px 0px 10px !important;
  margin-left: 0px !important;
}

#main .grid-item--width1 .content ul {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
}

#main .grid-item--width1 .content ul li {
  padding-right: 15px;
}

#main .grid-item--width1 .content ul li a {
  font-size: 18pt;
  text-decoration: none;
  color: #7acec3;
}

#main .grid-item--width2 {
  width: 100%;
  max-width: 400px;
  background-color: #7acec3;
}

#main .grid-item--width4 {
  width: 100%;
  max-width: 640px;
}

#main .grid-item--height1 {
  height: 492px;
}

#main .grid-item--height2 {
  height: 492px;
}

#main .grid-item--height4 {
  height: 360px;
}

@media screen and (max-width: 992px) {
  .topnav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  nav ul {
    max-height: 0px;
    border: 0px solid #8c8c88 !important;
  }
  nav ul li {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    padding: 15px;
    border: 0px solid #fff !important;
  }
  .show {
    max-height: 25em;
  }
  .handle {
    display: block;
  }
  header h1 {
    font-size: 3em;
  }
}
/*# sourceMappingURL=style.css.map */