* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  max-width: 1500px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}

ul {
  list-style: none !important;
  padding-left: 0px;
}

.bold {
  font-weight: bold;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #7ab90d;
  border-radius: 50%;
  margin-right: 10px;
}

.arrowColor {
  color: #ebb240;
}

.arrowColor2 {
  color: #e2007a;
}

img {
  max-width: 100%;
}

.textUppercase {
  text-transform: uppercase;
}

.myBtn {
  text-decoration: none;
  color: #fff;
  background-color: #e2007a;
  font-size: 18px;
  padding: 5px;
}

.myBtn img {
  padding-right: 5px;
}

.myBtn:hover {
  border-bottom: 2px solid #45093f;
}

.pr-1 {
  padding-right: 5px;
}

#header {
  background: #e9eae2;
}

#header .topnav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .topnav .logo_top {
  max-width: 100%;
  padding-left: 20px;
}

#header .topnav .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #fff;
  background-color: #cd006d;
  margin-top: 0px;
  padding: 15px 20px 30px 20px;
  border-bottom: 5px solid #b8bab3;
  border-radius: 7px 7px 20px 20px;
}

#header .topnav .contacts .contentList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
}

#header .topnav .contacts .contentList img {
  padding-right: 5px;
}

#header form {
  text-align: center;
  font-size: 0;
  padding-bottom: 20px;
}

#header form input[type=text] {
  width: 300px !important;
  padding: 10px 15px 10px 15px;
  border: 1px solid #e2e3db;
  color: #a3a3a3;
  border-radius: 5px;
  outline-style: none;
}

#header form input[type=submit] {
  padding: 10px 10px 10px 10px;
  background-color: #efba22;
  color: #fff;
  border-radius: 5px;
  outline-style: none;
}

#header nav ul {
  background-color: #000;
  color: white;
  padding: 0;
  margin: 0;
  text-align: center;
  overflow: hidden;
  -webkit-transition: max-height 0.4s;
  transition: max-height 0.4s;
  border: 1px solid #8c8c88;
  font-weight: bold;
}

#header nav ul a {
  text-decoration: none;
  color: inherit;
}

#header nav ul a:hover {
  color: #d2d2d2;
}

#header nav ul li {
  font-size: 15pt;
  display: inline-block;
  padding: 10px 20px 10px 20px;
  text-transform: uppercase;
  border-right: 1px solid #fff;
}

.handle {
  width: 100%;
  background-color: #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 20px;
  cursor: pointer;
  color: white;
  display: none;
}

.handle .menu {
  display: inline-block;
}

.handle .menu .menu_icon {
  margin: .5em 0;
}

.handle .menu .menu_icon div {
  background-color: white;
  border-radius: 2px;
  width: 35px;
  height: 5px;
  margin: 5px;
}

#main {
  max-width: 1500px !important;
  /* clearfix */
  /* ---- grid-item ---- */
}

#main .shadow_method {
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

#main .shadow_method .middle {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#main .shadow_method .middle .text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  background-color: #353535;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  display: none;
  border-radius: 5px;
}

#main .shadow_method:hover {
  -webkit-transition: .5s ease;
  transition: .5s ease;
  -webkit-box-shadow: inset 0 0 0 99999px rgba(121, 121, 121, 0.5);
          box-shadow: inset 0 0 0 99999px rgba(121, 121, 121, 0.5);
}

#main .shadow_method:hover .middle .text {
  display: inline-block;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

#main .grid {
  width: 100%;
  background: #EEE;
  margin: 0 auto;
}

#main .grid:after {
  content: '';
  display: block;
  clear: both;
}

#main .grid-item {
  max-width: 100%;
  height: 120px;
  float: left;
  background: #ddd;
}

#main .item1 {
  width: 69%;
  background-image: url("../img/home_free_02.jpg") !important;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #e9eae2;
}

#main .item1 .content {
  position: absolute;
  content: " ";
  top: 25%;
  left: 20%;
  -webkit-transform: translate(-20%, -20%);
          transform: translate(-20%, -20%);
  z-index: 999;
}

#main .item1 .content img {
  max-width: 80%;
}

#main .item1 .content p {
  font-size: 18pt;
  text-transform: uppercase;
  color: #393d3c;
  margin: 0px 0px 0px 10px !important;
  margin-left: 0px !important;
}

#main .item1 .content ul {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#main .item1 .content ul li {
  padding-right: 15px;
}

#main .item1 .content ul li a {
  font-size: 18pt;
  text-decoration: none;
  color: #7acec3;
}

#main .item1 .content ul li a:hover {
  color: #29a595;
}

#main .item2 {
  position: relative;
  width: 31%;
  background-color: #7acec3;
  background: -webkit-gradient(linear, left top, right bottom, from(#7acec3), color-stop(50%, #7acec3), color-stop(50.5%, white), color-stop(50%, #7acec3), to(#7acec3));
  background: linear-gradient(to bottom right, #7acec3, #7acec3 50%, white 50.5%, #7acec3 50%, #7acec3);
}

#main .item2 .contentItem2 {
  position: absolute;
  top: 4%;
  left: 8%;
}

#main .item2 .logoTreca {
  padding: 5px 10px 5px 15px;
  max-width: 260px;
  border: 3px solid #fff;
  font-family: serif;
}

#main .item2 .logoTreca .treca {
  text-transform: uppercase;
  font-size: 60px;
}

#main .item2 .logoTreca .vertical {
  text-transform: uppercase;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  font-size: 15px;
}

#main .item2 .text {
  margin-top: 15px;
  margin-bottom: 0;
  color: #333333;
  text-transform: uppercase;
  font-size: 23pt;
  z-index: 999;
}

#main .item2 .cont {
  max-width: 170px;
}

#main .item2 .cont p {
  color: #fff;
  font-size: 15px;
}

#main .item2 .cont2 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main .item2 .cont2 p {
  margin: 0;
  text-transform: uppercase;
  font-size: 15px;
  color: #fff;
}

#main .item2 .cont3 {
  font-size: 30px;
}

#main .item2 .cont3 p:first-of-type {
  margin-top: 10px;
  margin-bottom: 0;
  text-decoration: line-through;
  color: #545454;
  font-weight: bold;
}

#main .item2 .cont3 p:last-of-type {
  text-decoration: none;
  color: #cd006d;
  margin: 0px;
  font-weight: bold;
}

#main .item3 {
  position: relative;
  width: 31%;
  background-color: #ebb240;
  background: -webkit-gradient(linear, left top, right bottom, from(#ebb240), color-stop(50%, #ebb240), color-stop(50.5%, white), color-stop(50%, #ebb240), to(#ebb240));
  background: linear-gradient(to bottom right, #ebb240, #ebb240 50%, white 50.5%, #ebb240 50%, #ebb240);
}

#main .item3 .contentItem3 {
  position: absolute;
  top: 15%;
  left: 15%;
}

#main .item3 .contentItem3 .listItem3 li {
  color: #fff;
  font-size: 25px;
}

#main .item3 .contentItem3 .listItem3 li:first-child span {
  color: #000;
}

#main .item3 .contentItem3 .listItem3 li:not(:first-child) {
  padding-left: 25px !important;
}

#main .item3 .contentItem3 .listItem3 i {
  color: #fff;
}

#main .item3 .contentItem3 p {
  position: absolute;
  left: 75%;
  font-size: 35pt;
  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
  text-align: right;
}

#main .item4 {
  position: relative;
  width: 38%;
  background-color: #e9eae2;
}

#main .item4 .contentItem4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 40px;
  padding-left: 70px;
}

#main .item4 .contentItem4 .contInfo {
  padding-right: 30px;
}

#main .item4 .contentItem4 .listItem4 {
  padding-bottom: 70px;
}

#main .item4 .contentItem4 .listItem4 li {
  font-size: 18px;
}

#main .item4 .contentItem4 .image {
  padding-top: 50px;
}

#main .item5 {
  width: 31%;
  position: relative;
  height: 250px !important;
  background-color: #eef2f3;
}

#main .item5 .contentItem5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 15px;
}

#main .item5 .contentItem5 .contInfo {
  width: 60%;
  padding-left: 30px;
}

#main .item5 .contentItem5 .contInfo p {
  margin: 5px;
}

#main .item5 .contentItem5 .listItem5 {
  margin: 0px;
}

#main .item5 .contentItem5 .listItem5 h2 {
  margin: 5px;
}

#main .item5 .contentItem5 .image {
  padding-top: 20px;
}

#main .item5 .contentItem5 .image .product {
  max-width: 100%;
}

#main .item6 {
  width: 31%;
  position: relative;
  background-color: #f6f7f2;
}

#main .item6 .contentItem6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main .item6 .contentItem6 .contInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#main .item6 .contentItem6 .contInfo .listItem6 {
  padding-right: 20px;
}

#main .item6 .contentItem6 .contInfo .contRight {
  padding-top: 50px;
}

#main .item7 {
  width: 20%;
  position: relative;
  background: #596f7e;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#596f7e), color-stop(46%, #6c7882));
  background: linear-gradient(to bottom, #596f7e 0%, #6c7882 46%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#596f7e', endColorstr='#6c7882',GradientType=0 );
}

#main .item7 .contentItem7 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 20px;
}

#main .item7 .contentItem7 .listItem7, #main .item7 .contentItem7 span {
  color: #fff;
}

#main .item7 .contentItem7 .contInfo {
  z-index: 9999;
}

#main .item7 .contentItem7 .image {
  position: absolute;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  bottom: 0;
  right: 25px;
}

#main .item8 {
  position: relative;
  width: 49%;
  background-image: url("../img/fauteuil2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#main .item8 .contentItem8 .listItem8 {
  position: absolute;
  top: 19%;
  left: 50%;
  -webkit-transform: translate(-19%, -50%);
          transform: translate(-19%, -50%);
}

#main .item8 .contentItem8 .contRight {
  position: absolute;
  bottom: 15px;
  right: 15px;
  -webkit-transform: translate(-15%, -15%);
          transform: translate(-15%, -15%);
}

#main .item9 {
  width: 31%;
  height: 243px;
  background-color: #fff;
  position: relative;
}

#main .item9 .contentItem9 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#main .item9 .contentItem9 .listItem9 {
  margin: 5px 0px 5px 0px;
}

#main .item9 .contentItem9 .listItem9 h2 {
  margin: 5px 0px 5px 0px;
}

#main .item9 .contentItem9 .contInfo p {
  margin: 5px 0px 5px 0px;
}

#main .item10 {
  width: 49%;
  background-color: #fff;
  position: relative;
}

#main .item10 .contentItem10 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 25px;
}

#main .item10 .contentItem10 .contInfo2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#main .item10 .contentItem10 .contInfo2 .listItem10 {
  padding-right: 30px;
  margin: 0px;
}

#main .item10 .contentItem10 .contInfo2 .listItem10 h2 {
  margin: 5px 0px 5px 0px;
}

#main .item10 .contentItem10 .contInfo2 .contRight p {
  margin: 10px 0px 10px 0px;
}

#main .item10 .contentItem10 .contInfo2 .contRight p:first-child {
  margin-top: 10px;
}

#main .item11 {
  width: 20%;
  background-image: url("../img/img3.jpg");
  background-size: cover;
  background-position: center center;
  position: relative;
}

#main .item11 .contentItem11 .listItem11 {
  position: absolute;
  top: 5%;
  right: 10%;
}

#main .item11 .contentItem11 .listItem11 li span {
  display: inline-block;
}

#main .item11 .contentItem11 .bottom {
  position: absolute;
  bottom: 6%;
  left: 35%;
}

#main .item11 .contentItem11 .bottom p {
  margin: 10px 0px 10px 0px;
}

#main .item12 {
  width: 31%;
  background-color: #ebb240;
  position: relative;
  -webkit-gradient: linear, left top, right bottom, from(#ebb240), color-stop(49%, #ebb240), color-stop(49%, white), color-stop(50%, #ebb240), to(#ebb240);
  background: -webkit-gradient(linear, left top, right bottom, from(#ebb240), color-stop(50%, #ebb240), color-stop(50.5%, white), color-stop(50%, #ebb240), to(#ebb240));
  background: linear-gradient(to bottom right, #ebb240, #ebb240 50%, white 50.5%, #ebb240 50%, #ebb240);
}

#main .item12 .contentItem12 .listItem12 {
  position: absolute;
  left: 10%;
}

#main .item12 .contentItem12 .listItem12 li {
  color: #fff;
  font-size: 25px;
}

#main .item12 .contentItem12 .listItem12 li:first-child span {
  color: #000;
}

#main .item12 .contentItem12 .listItem12 li:not(:first-child) {
  padding-left: 25px !important;
}

#main .item12 .contentItem12 .listItem12 i {
  color: #fff;
}

#main .item13 {
  width: 31%;
  background-color: #ff9b6d;
  background: -webkit-gradient(linear, left top, right bottom, from(#ff9b6d), color-stop(50%, #ff9b6d), color-stop(50.5%, white), color-stop(50%, #ff9b6d), to(#ff9b6d));
  background: linear-gradient(to bottom right, #ff9b6d, #ff9b6d 50%, white 50.5%, #ff9b6d 50%, #ff9b6d);
  position: relative;
}

#main .item13 .contentItem13 {
  position: absolute;
  top: 12%;
  left: 10%;
}

#main .item13 .contentItem13 .listItem13 li {
  color: #fff;
  font-size: 25px;
}

#main .item13 .contentItem13 .listItem13 li:first-child span {
  color: #000;
}

#main .item13 .contentItem13 .listItem13 li:not(:first-child) {
  padding-left: 25px !important;
}

#main .item13 .contentItem13 .listItem13 i {
  color: #fff;
}

#main .item13 .contentItem13 p {
  position: absolute;
  left: 75%;
  font-size: 35pt;
  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
  text-align: right;
}

#main .item14 {
  width: 69%;
  background-color: #fff;
  position: relative;
}

#main .item14 .contentItem14 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#main .item14 .contentItem14 .cont14 {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

#main .item14 .contentItem14 .cont14 .contInfo {
  padding-right: 20px;
}

#main .item14 .titleCont14 {
  color: #e2007f;
  margin: 40px 0px 120px 30px;
}

#main .item15 {
  width: 31%;
  background-color: #fff;
  position: relative;
}

#main .item15 .contentItem15 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 70px;
}

#main .item15 .contentItem15 .contInfo2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#main .item15 .contentItem15 .contInfo2 .listItem15 {
  padding-right: 30px;
  margin: 0px;
}

#main .item15 .contentItem15 .contInfo2 .listItem15 h2 {
  margin: 5px 0px 5px 0px;
}

#main .item15 .contentItem15 .contInfo2 .contRight p {
  margin: 10px 0px 10px 0px;
}

#main .item15 .contentItem15 .contInfo2 .contRight p:first-child {
  margin-top: 10px;
}

#main .item16 {
  width: 31%;
  background-color: #edeee7;
  position: relative;
}

#main .item16 .contentItem16 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main .item16 .contentItem16 .box1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

#main .item16 .contentItem16 .box2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

#main .item16 .contentItem16 .box2 .contInfo {
  text-align: right;
}

#main .item16 .contentItem16 .contInfo p {
  margin: 5px 0px 5px 0px;
}

#main .item16 .contentItem16 .listItem16 {
  margin: 0px;
}

#main .item16 .contentItem16 .listItem16 h2 {
  margin: 5px 0px 5px 0px;
}

#main .item17 {
  width: 38%;
  background-color: #f3f3f3;
  position: relative;
}

#main .item17 .contentItem17 {
  position: absolute;
  top: 10%;
  right: 0%;
  padding-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main .grid-item--height1 {
  height: 493px;
}

#main .grid-item--height2 {
  height: 465px;
}

#main .grid-item--height3 {
  height: 300px;
}

@media screen and (max-width: 1500px) {
  #main .grid {
    width: 100% !important;
    background: #EEE;
    margin: 0 auto;
  }
  #main .item1 {
    width: 100%;
  }
  #main .item1 .content {
    position: absolute;
    content: " ";
    top: 27%;
    left: 10%;
    -webkit-transform: translate(-20%, -20%);
    transform: translate(-20%, -20%);
    z-index: 999;
  }
  #main .item2 {
    width: 50%;
  }
  #main .item2 .contentItem2 {
    position: absolute;
    max-width: 280px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  #main .item2 .contentItem2 .treca {
    font-size: 45px;
  }
  #main .item2 .contentItem2 .vertical {
    font-size: 12px;
  }
  #main .item2 .contentItem2 .text {
    font-size: 26px;
  }
  #main .item2 .contentItem2 .cont3 {
    font-size: 25px;
  }
  #main .item2 .contentItem2 .logoTreca {
    padding: 5px 10px 5px 20px;
    max-width: 240px;
  }
  #main .item3 {
    width: 50%;
  }
  #main .item3 .contentItem3 {
    position: absolute;
    top: 28%;
    left: 36%;
    -webkit-transform: translate(-30%, -40%);
            transform: translate(-30%, -40%);
  }
  #main .item4 {
    position: relative;
    width: 50%;
    background-color: #e9eae2;
  }
  #main .item4 .contentItem4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 40px;
    padding-left: 120px;
  }
  #main .item4 .contentItem4 .contInfo {
    padding-right: 30px;
  }
  #main .item4 .contentItem4 .listItem4 {
    padding-bottom: 70px;
  }
  #main .item4 .contentItem4 .listItem4 li {
    font-size: 18px;
  }
  #main .item4 .contentItem4 .image {
    padding-top: 50px;
  }
  #main .item5, #main .item6, #main .item7, #main .item8, #main .item9, #main .item10, #main .item11, #main .item12, #main .item13, #main .item14, #main .item15, #main .item16, #main .item17 {
    width: 50%;
  }
}

@media screen and (max-width: 1500px) and (max-width: 992px) {
  #header .topnav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #header nav ul {
    max-height: 0px;
    border: 0px solid #8c8c88 !important;
  }
  #header nav ul li {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    padding: 15px;
    border: 0px solid #fff !important;
  }
  #header .show {
    max-height: 25em;
  }
  #header .handle {
    display: block;
  }
  #header header h1 {
    font-size: 3em;
  }
}

@media screen and (max-width: 1500px) and (max-width: 1040px) {
  #header .topnav .contacts {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important;
    width: 100%;
  }
  #header .topnav .contacts .contentList {
    padding-bottom: 10px;
  }
  #main .item1 {
    width: 100%;
  }
  #main .item2 {
    width: 100%;
  }
  #main .item2 .contentItem2 {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  #main .item3 {
    width: 100%;
  }
  #main .item4 {
    width: 100%;
  }
  #main .item5, #main .item6, #main .item7, #main .item8, #main .item9, #main .item10, #main .item11, #main .item12, #main .item13, #main .item14, #main .item15, #main .item16, #main .item17 {
    width: 100%;
  }
  #main .item14 .image {
    max-width: 70%;
  }
  #main .item14 .image img {
    max-width: 90%;
  }
}
/*# sourceMappingURL=style.css.map */